[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "0.28"
requests = "*"
flask = "*"
pymongo = "*"
pylint = "*"
black = "*"
tomli = "*"
dill = "*"

[dev-packages]

[requires]
python_version = "3.12"
