[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
openai = "0.28"
pymongo = "*"
pylint = "*"
black = "*"
tomli = "*"
dill = "*"
google-cloud-speech = "*"

[dev-packages]

[requires]
python_version = "3.12"
