body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #ffffff;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #1DB954;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header h1 {
    float: left;
    font-size: 2em;
}
textarea {
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #282828;
    color: #ffffff;
}
input[type="submit"] {
    display: block;
    width: 100%;
    border: none;
    background-color: #1DB954;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
input[type="submit"]:hover {
    background-color: #ddd;
    color: black;
}
